header{

    .container{
        padding: 30px;
        padding-left: 150px;
        padding-right: 150px;
    }



    nav{
        display: flex;
        justify-content:space-between;
    }

    nav h1{
        font-size:2em;
    }




    nav ul{
        display: flex;
        flex-direction: row;
        color: unset; 
        list-style-type: none;
        color: white;
        font-weight: bold;    
    }

    nav ul li{
        margin-left:  10px;
        text-decoration: none; 
        border-bottom-style: none;
        border:none;
    }
}