/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height:1.8;
    color: #000;       
}

header{
    box-shadow:#d3d3d3;
    background-color:white;
    border-bottom: 3px solid #d3d3d3;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h1, h2, h3{
        line-height:1;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
}


a:hover, a:visited, a:link, a:active, a:focus{
    text-decoration: none;
    color:inherit;
    
}

.riquadro{
    background: rgb(108,193,226);
    background: -moz-linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(70,84,148,1) 60%, rgba(57,47,122,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(70,84,148,1) 60%, rgba(57,47,122,1) 100%);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(70,84,148,1) 60%, rgba(57,47,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cc1e2",endColorstr="#392f7a",GradientType=1);
    font-size: 1.9rem;
    color: white;
    border:none;
    text-align: center;
    padding: 0 1em;
    margin-bottom: 1em;
    width:fit-content;
    display: inline-block;
    


}

button{
    background: rgb(108,193,226);
    background: -moz-linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(70,84,148,1) 60%, rgba(57,47,122,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(70,84,148,1) 60%, rgba(57,47,122,1) 100%);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(70,84,148,1) 60%, rgba(57,47,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cc1e2",endColorstr="#392f7a",GradientType=1);
    font-size: 1.9rem;
    color: white;
    text-align: center;
    padding: 4px 47px;
    border: 0;
    margin-top: 2px;
}

/* HEADER */

header{
    width: 100%;
    position: fixed;
    display: inline-block;
    text-align:justify;
}

nav#large-nav{
    position:absolute;
    bottom: 0;
    width: 100%;
    
    
}

nav#large-nav > ul > li{
    display: inline-block;
    padding: 10px;
    position: relative;
}

/* MAIN */

#titolo-epico p{
    margin-bottom: 20px;
}

main div#titolo-epico{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px 30px;
    color: white;
}



.sez-scrivici{
    background-color:#0c0633;
    text-align:center;
    color: white;
    padding: 50px;
}

article{
    text-align:center;
}

article #motivazioni .icone{
    color: #e42424;
    font-size:4rem;
} 

aside{
    text-align: center;
}

aside section.chi i{
    color: #e42424;
}

#prezzo-corsi{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

#prezzario-large{
    border-collapse: collapse;
    width: 100%;
}

#prezzario-large td, #prezzario-large th{
    padding: 8px;
}

#prezzario-large tr:nth-child(even){background-color: #d2dce7;}

#prezzario-large th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #486585;
    color:white;
}

#prezzario-large tr{
    text-align: center;
}


#prezzario-mobile{
    border-collapse: collapse;
    width: 100%;
    text-align:left;
}

#prezzario-mobile td:nth-child(1){
    font-weight: bold;
}    


#prezzario-mobile tr:nth-child(n+7){background-color: #d2dce7;}
#prezzario-mobile tr:nth-child(1), #prezzario-mobile tr:nth-child(2), #prezzario-mobile tr:nth-child(3){background-color: #d2dce7;}

section.spiega{
    text-align:center;
}

section.spiega img{
    height:250px;
}  

section#compilazione{
    margin-bottom: 20px;
}

div#Sezione-contatti{
    text-align:center;
}

div#Relazionarsi{
    text-align:center;
}

section#info-sede{
    text-align: center;
}


/* FOOTER */

footer{
    background-color: rgb(238, 238, 238);
    padding: 50px;
}


footer #icone-footer{
    color: #e42424;
    font-size: 40px;
}

footer #newsletter #email, footer #newsletter button{
    text-align: center;
}




/* RESPONSIVE */

@media screen and (min-width:500px) {
    html {
        font-size:70%
    }
    body {
        line-height:1.8
    }
    h1, h2, h3{
        line-height:1;
    }
    footer #newsletter{
        width:100%;
        text-align: center;
    }
    #prezzo-corsi #prezzario-mobile{
        display:inline;
    }
    #prezzo-corsi #prezzario-large{
        display:none;
    }
    nav#large-nav{
        display:none;
    }
    nav#mobile-nav{
        display:inline;
    }
}

@media screen and (min-width:800px) {
    html {
        font-size:80%
    }
    body {
        line-height:2;
    }
    h1, h2, h3{
        line-height:1.1;
    }
    #prezzo-corsi #prezzario-mobile{
        display:none;
    }

    #prezzo-corsi #prezzario-large{
        display:inline;
    }
    nav#mobile-nav{
        display:none;
    }
    nav#large-nav{
        display:inline;
    }
}

@media screen and (min-width:1200px) {
    html {
        font-size:100%
    }
    body {
        line-height:2.4;
    }
    h1, h2, h3{
        line-height:1.2;
    }
    header, main, footer {
        margin-left: auto;
        margin-right: auto;
    }
}

